.titre {
	font-family: "Police1";
	text-align: center;
	font-size: xx-large;
}

.lettre {
	
	font-size: xx-large;
	font-family: "Police3";
	text-align: center;
	border: 2px solid;
	
}

.lettre:hover,
.lettre:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  color: #19bc8b;

}

.lettre:hover {
	cursor : pointer;
}

.reponse:hover,
.reponse:focus {
	animation: pulse 1s;
	box-shadow: 0 0 0 2em transparent;
  }

.tableau_lettre {
	width: 80%;
	border-spacing: 1rem 1rem;
}

.bloc {
	display: flex;
	justify-content: center;	
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

.reponse {
	font-family: Police1;

	font-size: xx-large;
}

td {
	border-color: red;
}

.cadeau {
	font-family: Police3;
	font-size: xx-large;
}

.espace {
	padding: 10px 10px;
}

img {
	width: 10vw;
	cursor: pointer;
}

img:hover,
img:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  color: #19bc8b;
}

.reponse {
	cursor: pointer;
}