#gallery {
	display: flex; /* Définit un conteneur flex */
	flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
	justify-content: center; /* Centre les éléments horizontalement */
	align-items: center; /* Centre les éléments verticalement */
	gap: 0px; /* Espace entre les éléments */
}

.image-container {
    position: relative; /* Permet de positionner les éléments enfants par rapport à ce conteneur */
    width: 14%; /* Ajuste selon tes besoins */
    margin: 1% 1%;
    height: auto; /* Ajuste selon tes besoins */
}

.image-container img {
    width: 100%; /* Prend toute la largeur du conteneur */
    height: auto; /* Conserve le ratio de l'image */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	position: absolute; /* Positionne l'overlay par rapport au conteneur */
    top: 0; /* Aligne en haut */
    left: 0; /* Aligne à gauche */
    width: 100%; /* Prend toute la largeur du conteneur */
    height: 92%; /* Prend toute la hauteur du conteneur */
    background-color: rgba(0, 128, 0, 0.5); /* Exemple de couleur verte avec transparence */
    z-index: 1; /* Assure que l'overlay soit au-dessus de l'image */
    display: none; /* Cache l'overlay par défaut, affiche-le lors d'un événement (par exemple, au survol) */
}

/* Exemple pour afficher l'overlay au survol */

.image-container:hover {
    transform: scale(1.05);
}


#popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Assure que le pop-up est au-dessus du contenu */
    padding: 15px;
    width: 80%;
}
#popup img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;

}


