/* Navigation bar */

.navigationBar {
    display: flex;
    align-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 0px;
    justify-content: space-around;
    max-width: 80vw;
}

.navigationBar > button {
    background: none;
    border: none;
}

.navigationButton{
    width: 100px;
}

.navigationButton:hover,
.navigationButton:focus {
  transform: translateY(-0.25em);
}

.enonce_regles{
    /* text-align: left; */
    color: var(--color-rules);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-family: Police1;
    font-size: 1em;
    font-weight: bold;    
    line-height: 140%;
}

.reponse{
    text-align: center;
    align-content: center;
    font-size: 1.2em;
}

/* Boutons */

.btn {
    min-width: var(--button-width);
    min-height: var(--button-height);
    cursor: pointer;
    color: var(--button-text-color);
    font-family: Police2;
    font-size: var(--button-font-size);
    border-radius: 50px;
    border-style: none;
    outline: none;
    text-wrap: wrap;
    padding: 0px 15px;
    margin: 20px auto;
    height: fit-content;
    max-width: calc(var(--button-width) + var(--button-width));
    text-overflow: ellipsis;
    overflow: hidden;
    background: var(--color-button);

    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
  }

  .btn:hover {
    background-color: var(--button-hover);
    box-shadow: 5px 40px -10px var(--shadow);
    transition: all 0.4s ease 0s;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
}


/* Images */

#bloc_image {
	display: flex;
	justify-content: center;
	}

#bloc_image #image {
	background-color: white;
	filter: drop-shadow(0 0 0.75rem var(--shadow));
}

#image{
	height: 00%;
    max-height: 500px;
}

/* Tableau */
table {
    width: 80%;
    vertical-align: center;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Police1;
    border: none;
    border-spacing: 1rem 1rem;
}

td {
    border: 0;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    padding: 20px;
}

/* Cellules */

.cellule_blanche {
    background-color: transparent;
    border: none;
    }


.cellule {
	font-family: Police1;
	font-size: 20px;
	border: 2px solid rgb(255, 255, 255);
}


.cellule:hover {
    background: #763538;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.question {
    font-family: Police2;
    margin-bottom: 5px;  
}

.backgroundTrue{
    background-color: var(--color-true);
}

.backgroundTrue:hover{
    background-color: var(--color-true-hover);
}

.backgroundFalse{
    background-color: var(--color-false);
}

.backgroundFalse:hover{
    background-color: var(--color-false-hover);
}

.regles {
    font-size: 25px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-family: Police1;
    line-height: 140%;
    padding-bottom: 2%;
    color:var(--color-rules)
}

.theme{
	font-family: Police2;
	color: var(--text-color);
	margin-top:80px;
    font-size: 30px;
    text-align: center;
}